<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fas10</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <meta name="theme-color" content="#b1dcff" />
  </head>
  <body>
      <h1><%=title %></h1><br/>
      <div class="text"><%-body %></div>
  </body>
</html>